
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background: #111;
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden; /
}
.animated-bg {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:620px;
    background-size: cover;
    background-image: url('https://hips.hearstapps.com/hmg-prod/images/tns-hero-1-670feec9181c0.jpg');
    background-position: center;
    z-index: -1;
    animation: zoom-bg 20s infinite alternate linear;
    border-radius: 15px;
}

@keyframes zoom-bg {
    0% { transform: scale(1); }
    100% { transform: scale(1.1); }
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    z-index: 1000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.logo span {
    color: #e74c3c;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center; 
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #e74c3c;
}
#profile-img {
    width: 35px;
    height: 35px;
    border-radius: 50%; 
    object-fit: cover;
    border: 2px solid #e74c3c;
    transition: transform 0.3s;
    display: block;
}

#profile-img:hover {
    transform: scale(1.2);
}
.hero {
    height: 100vh;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero-content h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    animation: fade-in 1.5s ease-out;
    text-shadow:  2px 2px 5px  black;
}

@keyframes fade-in {
    from { opacity: 0; transform: translateY(100px); }
    to { opacity: 1; transform: translateY(0); }
}

.cta-btn {
    padding: 15px 40px;
    background: #e74c3c;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s;
    align-self: center;
    position: relative;
    height: fit-content;
    margin-top: 30px;
    
}

.cta-btn:hover {
    box-shadow: 0 0 20px ;
    transform: translateY(-3px);
    background-image:linear-gradient(65deg,#8E0E00,#F03000,#FFD700,#F03000,#8E0E00) ;
    
}

    


.about-section {
    padding: 100px 50px;
    display: flex;
    justify-content: center;
}

.glass-card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    padding: 50px;
    border-radius: 20px;
    max-width: 800px;
    text-align: center;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.1);
}


.banner {
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.banner .slider {
    position: absolute;
    width: 120px;
    height: 160px;
    top: 25%;
    left: calc(50% - 60px);
    transform-style: preserve-3d;
    transform: perspective(10px);
    animation: autoRun 20s linear infinite;
}

.banner .slider:hover {
    animation-play-state: paused;
}

@keyframes autoRun {
    from { transform: perspective(1000px) rotateX(-16deg) rotateY(0deg); }
    to { transform: perspective(1000px) rotateX(-16deg) rotateY(360deg); }
}

.banner .slider .item {
    position: absolute;
    inset: 0;
    transform: 
        rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) 
        translateZ(400px);
}

.banner .slider .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.8);
    transition: transform 0.5s ease;
}

.banner .slider .item img:hover {
    transform: scale(1.15);
}

.contact-bar {
    background: #111;
    color: white;
    padding: 40px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 3px solid #e74c3c;
}

.contact-item i {
    color: #e74c3c;
    margin-right: 10px;
}

.social-links a {
    color: white;
    font-size: 1.5rem;
    margin-left: 15px;
    transition: 0.3s;
}

.social-links a:hover {
    color: #e74c3c;
}
h2{
    color: #e74c3c;
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
    margin-top: 30px;
}
h2:hover{
   text-shadow: 
   1px 2px 6px #8E0E00,
    1px 2px 6px #F03000,  
    1px 2px 6px #FFD700; 
}
h3{
    color: #e74c3c;
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}